<header>
  <mat-toolbar class="header__toolbar">
    <mat-toolbar-row class="header__container">
      <div class="header__subcontainer">
        <div class="header__logo">
          <h1 class="header__logo__title header__logo__title_hidden">
            {{ mainTitle }}
          </h1>
          <img src="assets/yt-logo.svg" alt="{{ mainTitle }} Logotype" />
        </div>
        <yt-search-input
          style="flex-grow: 2"
          (searchValueSubmit)="onSearchValueSubmit()"
        ></yt-search-input>
        <yt-filter-activator
          (toggleSettings)="toggleSettings()"
        ></yt-filter-activator>
      </div>
      <yt-login></yt-login>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="isSettingsActivated" class="header__container">
      <yt-filter-sort
        style="width: 100%"
        [btnsDisabled]="isSettingsActionDisabled"
      ></yt-filter-sort>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
