<mat-card class="custom-card-full" *ngIf="card | async as card">
  <button
    mat-mini-fab
    color="primary"
    aria-label="Go back to the card list"
    [routerLink]="backLink"
    class="custom-card-full__back"
  >
    <mat-icon>arrow_back_ios_new</mat-icon>
  </button>
  <img
    class="custom-card-full__thumbnail"
    [src]="card.imageLink"
    alt="{{ card.title }}"
  />
  <mat-card-title class="custom-card-full__title"
    ><h2>{{ card.title }}</h2></mat-card-title
  >
  <mat-card-subtitle class="custom-card-full__date"
    ><time>{{ card.creationDate | date: 'fullDate' }}</time></mat-card-subtitle
  >
  <mat-card-content class="custom-card-full__content">
    <h3>Description:</h3>
    <p>{{ card.description }}</p>
  </mat-card-content>
  <mat-card-footer class="custom-card-full__footer">
    <div
      class="custom-card-full__indicator"
      ytCardBorderColor
      publishedDate="{{ card.creationDate }}"
    ></div>
  </mat-card-footer>
</mat-card>
