<form class="search-form">
  <mat-form-field class="search-form__input-wrapper" appearance="fill">
    <mat-label>App Search</mat-label>
    <input
      matInput
      class="search-form__input"
      type="search"
      placeholder="What
    are you want to find out?"
      autocomplete="off"
      [value]="searchValue"
      (change)="onSearchValueChange($event)"
      name="search"
    />
  </mat-form-field>
  <button
    mat-raised-button
    class="search-form__submit"
    color="primary"
    type="submit"
    (click)="onSearchValueSubmit()"
  >
    Search
  </button>
</form>
