<div class="header-filter">
  <h3 class="header-filter__label">Sorting by:</h3>
  <button mat-stroked-button (click)="actionSort('date')">
    date
    <!-- TODO reduce html component representation -->
    <ng-template
      ytDirectionIcon
      [condition]="getIconCondition('date')"
      [isDirAsc]="settingsService.isAscending"
      [thumbDown]="thumbDown"
    >
      <mat-icon>trending_up</mat-icon>
    </ng-template>
  </button>
  <button mat-stroked-button (click)="actionSort('views')">
    count of views
    <ng-template
      ytDirectionIcon
      [condition]="getIconCondition('views')"
      [isDirAsc]="settingsService.isAscending"
      [thumbDown]="thumbDown"
    >
      <mat-icon>trending_up</mat-icon>
    </ng-template>
  </button>
  <h3 class="header-filter__label">By word or setance:</h3>
  <input
    type="text"
    [(ngModel)]="settingsService.filterValue"
    (ngModelChange)="actionFilter($event)"
  />
</div>

<ng-template #thumbDown>
  <mat-icon>trending_down</mat-icon>
</ng-template>
