<mat-card class="auth-form">
  <mat-card-title><h2>Login</h2></mat-card-title>
  <mat-card-content>
    <form
      class="auth-form__inputs"
      [formGroup]="loginForm"
      (ngSubmit)="logIn()"
    >
      <mat-form-field appearance="outline">
        <mat-label>Enter your login</mat-label>
        <input
          matInput
          placeholder="example@mail.com"
          formControlName="login"
          required
        />
        <mat-error *ngIf="login?.invalid">{{
          getErrorMessageText('login')
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="isPassHidden ? 'password' : 'text'"
          formControlName="pass"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="isPassHidden = !isPassHidden"
          [attr.aria-label]="'isPassVisible password'"
          [attr.aria-pressed]="isPassHidden"
          type="button"
        >
          <mat-icon>{{
            isPassHidden ? 'visibility_off' : 'visibility'
          }}</mat-icon>
        </button>
        <mat-error *ngIf="pass?.invalid">{{
          getErrorMessageText('pass')
        }}</mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        class="search-form__submit"
        color="primary"
        type="submit"
        [disabled]="this.loginForm.invalid"
      >
        Login
      </button>
    </form>
  </mat-card-content>
</mat-card>
