<div class="header-login">
  <button
    *ngIf="!isAuthorized; else authorizedChip"
    mat-button
    color="primary"
    class="header-login__button"
    (click)="goToSignIn()"
  >
    <mat-icon>account_circle</mat-icon>
    Sing in
  </button>
  <ng-template #authorizedChip>
    <mat-chip
      class="header-login__chip"
      *ngIf="isAuthorized"
      (click)="onLogOut()"
      #tooltip="matTooltip"
      matTooltip="Click to log out"
      [matTooltipPosition]="'below'"
      matTooltipHideDelay="200"
      ><span>{{ loginFirstLetter }}</span
      >{{ userLogin }}</mat-chip
    >
  </ng-template>
</div>
