<div class="header-login">
  <button
    *ngIf="!isAuthorized; else authorizedChip"
    mat-button
    color="primary"
    class="header-login__button"
    (click)="goToSignIn()"
  >
    <mat-icon>account_circle</mat-icon>
    Sing in
  </button>
  <ng-template #authorizedChip>
    <div class="header-login__actions">
      <mat-chip
        class="header-login__chip"
        *ngIf="isAuthorized"
        (click)="onLogOut()"
        #tooltip="matTooltip"
        matTooltip="Click to log out"
        [matTooltipPosition]="'below'"
        matTooltipHideDelay="200"
        ><span>{{ loginFirstLetter }}</span
        >{{ userLogin }}</mat-chip
      >
      <button
        mat-icon-button
        aria-label="Application sorting and filtering parameters"
        [routerLink]="pathToAdmin"
      >
        <mat-icon>admin_panel_settings</mat-icon>
      </button>
    </div>
  </ng-template>
</div>
