@use '../styles/shared-styles' as shared;

.mat-snack-bar {
  &_type {
    &_success {
      color: shared.$light;
      background-color: shared.$green;
    }
  }
}

.mat-simple-snackbar-action  {
  color: shared.$light;
}
