<div class="header-filter">
  <div class="header-filter__block">
    <h3 class="header-filter__label">Sorting by:</h3>
    <ng-container *ngFor="let sortAction of SortActions">
      <button mat-stroked-button (click)="sortAction.action()">
        {{ sortAction.name }}
        <mat-icon *ngIf="sortAction.status()">{{
          settingsService.isAscending ? 'trending_up' : 'trending_down'
        }}</mat-icon>
      </button>
    </ng-container>
  </div>
  <div class="header-filter__block">
    <h3 class="header-filter__label">By word or sentence:</h3>
    <input
      type="text"
      [(ngModel)]="settingsService.filterValue"
      (ngModelChange)="setFilter($event)"
    />
  </div>
</div>
