<div class="header-filter">
  <div class="header-filter__block">
    <h3 class="header-filter__label">Sorting by:</h3>
    <button
      mat-stroked-button
      (click)="setSortType(this.sortTypes.date)"
      [disabled]="btnsDisabled"
    >
      date
      <!-- TODO reduce html component representation -->
      <ng-template
        ytDirectionIcon
        [isDirShown]="getIconCondition(this.sortTypes.date)"
        [isDirAsc]="settingsService.isAscending"
        [thumbDown]="thumbDown"
      >
        <mat-icon>trending_up</mat-icon>
      </ng-template>
    </button>
    <button
      mat-stroked-button
      (click)="setSortType(this.sortTypes.views)"
      [disabled]="btnsDisabled"
    >
      count of views
      <ng-template
        ytDirectionIcon
        [isDirShown]="getIconCondition(this.sortTypes.views)"
        [isDirAsc]="settingsService.isAscending"
        [thumbDown]="thumbDown"
      >
        <mat-icon>trending_up</mat-icon>
      </ng-template>
    </button>
  </div>
  <div class="header-filter__block">
    <h3 class="header-filter__label">By word or sentence:</h3>
    <input
      type="text"
      [(ngModel)]="settingsService.filterValue"
      (ngModelChange)="setFilter($event)"
      [disabled]="btnsDisabled"
    />
  </div>
</div>

<ng-template #thumbDown>
  <mat-icon>trending_down</mat-icon>
</ng-template>
